<%= render 'aid_applications/navigation' %>

<div class="grid__item width-one-sixth">
  <div class="form-card">
    <% if @aid_application.duplicate_members? %>
      <h1>Possible Duplicate</h1>
      <% @aid_application.members do |member| %>
        <% dupe = member.find_duplicates[0] %>
        <div><%= member.name %></div>
        <div><%= dupe.name %></div>
      <% end %>
    <% end %>
  </div>
</div>