<div class="demo-banner">This site is for demonstration purposes only. Do not enter any personal information! If you need to submit an application go to <%= link_to 'ca-drai.org', 'https://www.ca-drai.org' %>.</div>
