<footer class="main-footer">
  <div class="grid">
    <div class="main-footer__legal">
      <div class="grid__item width-two-thirds">
        <p>DAFI is a service delivered by Code for America on behalf of the people of California.</p>
      </div>
    </div>

    <div class="grid__item width-one-fourth shift-one-twelfth">
      <div class="main-footer__cfa-logo">
        <a href="https://www.codeforamerica.org" class="illustration illustration--cfa-logo__dark">Code for America</a>
      </div>
    </div>
  </div>
</footer>
