<%= form_tag request.path, method: "get", class: "searchbar form-width--searchbar" do %>
  <%= text_field_tag "term",
                     params[:term],
                     placeholder: placeholder,
                     class: "searchbar__input",
                     autofocus: true %>

  <label class="searchbar__button">
    <span class="icon icon-arrow_forward"></span>
    <button name="search_submit" type="submit"></button>
  </label>
<% end %>
