<div class="card">
  <h2>Code for America Disaster Relief Aid Notifications Policy</h2>

  <ol class="list--numbered">
    <li>When you opt-in to the service, we will send you an SMS message to confirm your signup.</li>
    <li>Code for America will send you notifications about the status of your application.</li>
    <li>You can cancel the SMS service at any time. Just text "STOP" to the short code. After you send the SMS message "STOP" to us, we will send you an SMS message to confirm that you have been unsubscribed. After this, you will no longer receive SMS messages from us.</li>
    <li>If at any time you forget what keywords are supported, just text "HELP" to the short code. After you send the SMS message "HELP" to us, we will respond with instructions on how to use our service as well as how to unsubscribe.</li>
    <li>Carriers are not liable for delayed or undelivered messages</li>
    <li>As always, message and data rates may apply for any messages sent to you from us and to us from you. You will receive 1 expected message. If you have any questions about your text plan or data plan, it is best to contact your wireless provider. For all questions about the services provided by this short code, you can send an email to privacy@ca-drai.org</li>
    <li>If you have any questions regarding privacy, please read our privacy policy: www.ca-drai.org/privacy</li>
    <li>For questions, email privacy@ca-drai.org</li>
  </ol>
</div>