<div class="grid__item width-two-thirds shift-one-sixth">
  <div class="card">
    <div class="notice notice--warning spacing-below-60">
      <h2>Need to submit documents?</h2>

      <p>You can't submit documents on this website. If you need to submit documents, please directly contact the organization that helped you apply.</p>
    </div>

    <h2><%= t('.title') %></h2>

    <%= t('.body_html') %>

    <h2>Privacy Policy</h2>

    <p>www.ca-drai.org is a non-profit website run by Code for America Labs, Inc. ("Code for America", "we", "us",
      "our").
      This Privacy Policy describes how the www.ca-drai.org website (the "Site") collects, uses, and protects your
      personal information. By submitting your personal information on the Site or through Community Based Organization
      (“CBO”) partners, you agree to the terms in this Privacy Policy. If you do not agree with these terms, please do
      not
      use the Site.</p>

    <h3>Overview</h3>

    <p>We will only use your personal information to:</p>

    <p>Process applications for the Disaster Relief Assistance for Immigrants program ("DRAI program" herein refers to
      all
      such programs).</p>

    <p>We will not knowingly disclose or sell your personal information to any third party, except as provided in this
      privacy policy.</p>

    <p>We will take all reasonable measures to protect your personal information.</p>

    <h3>The personal information we collect</h3>

    <p>We collect and store all information that you provide through the Site and CBO partners, including your name,
      address, contact information, demographic information, program eligibility, program status, and any messages you
      send us through SMS, email, or live chat.</p>

    <p>We will not collect personal information from you without your knowledge and consent, except in a few limited
      circumstances as described in this policy.</p>

    <p>We retain all data for the duration of the DRAI program.</p>

    <h3>How we use your information</h3>

    <p>We only use your personal information for the purposes of the DRAI program. For example:</p>

    <p>Application Assistance/Intake, Eligibility Screening and Deduplication</p>

    <p>Eligibility Determination, provisioning of a Unique Identifier, and Blank Payment Card Issuance</p>

    <p>De-identified aggregate data for program administration purposes</p>

    <h3>How we share your information</h3>

    <p>Information is shared within the individual CBO partner(s) that assisted you. De-identified aggregate data is
      shared with the California Department of Social Services (CDSS).</p>

    <p>We also disclose your personal information to Code for America employees, contractors, and affiliated
      organizations
      that need to know the information in order to provide the services of the Site.</p>

    <p>We do not share your personal information with any other individuals or organizations, except to the minimal
      extent
      required by law.</p>

    <h3>How we protect your information</h3>

    <p>Protecting your personal information is extremely important to us and we take all reasonable measures to do
      so.</p>

    <p>Although we try our best to protect the privacy of your personal information, we cannot guarantee complete
      security. The transmission of information via the Internet is not completely secure. Unauthorized entry or use,
      hardware or software failure, and other factors, may compromise the security of user information at any time.</p>

    <h3>Changes</h3>

    <p>We may change this Privacy Policy from time to time. Please check this page frequently for updates as your
      continued use of this site after any changes in this Privacy Policy will constitute your acceptance of the
      changes.</p>

    <h3>Effective Date</h3>

    <p>This version of the policy is effective May 18, 2020.</p>

    <h3>Questions</h3>

    <p>If you have any questions, comments, concerns, or complaints with the Site, please contact us by email at
      privacy@ca-drai.org or by mail at:</p>

    <p>
      DRAI
      <br/>
      c/o Code for America
      <br/>
      972 Mission Street
      <br/>
      San Francisco, CA 94103
    </p>

    <p>We will do our best to resolve the issue.</p>
  </div>
</div>
