<div class="grid__item width-one-whole">
  <div class="data-table-container">
    <table class="data-table js-sticky-header">
      <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Email</th>
        <th>Status</th>
      </tr>
      </thead>
      <tbody>
      <% @assisters.each do |assister| %>
        <tr>
          <td><%= assister.id %></td>
          <td><%= assister.name %></td>
          <td><%= assister.email %></td>
          <td><%= assister.status %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>