.template--homepage .main-footer {
  height: $footer-height * 2.5;
  margin-top: -1px;

  @include media($tablet-up) {
    margin-top: -1px;
    height: $footer-height * 1.3;
  }

  .main-footer__cfa-logo {
    margin-top: 2em;

    @include media($tablet-up) {
      margin-top: 0;
      float: right;
    }
  }
}
